[user]
	name = Ashley Trinh
	email = itsashley@hey.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
  recurseSubmodules = check
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
  tool = vscode
  submodule = log
[difftool "default-difftool"]
  cmd = diff
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[submodule]
  recurse = true
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential]
	helper = !/opt/homebrew/bin/gh auth git-credential

[pager]
	diff = riff
	show = riff
	log = riff
[interactive]
	diffFilter = riff --color=on
