[user]
	email = ashley@hackbrightacademy.com
	name = Ashley Trinh
[pull]
	rebase = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
    tool = default-difftool
	submodule = log
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[core]
	editor = code --wait
[credential "https://dev.azure.com"]
	useHttpPath = true
[submodule]
	recurse = true
[push]
	recurseSubmodules = check
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager-core
