unmap F
unmap f
unmap z
unmap Z
unmap ge
unmap gE
unmap X
unmap u
unmap b
unmap H
unmap L
unmap d
unmap `
unmap gs

map O Vomnibar.activateEditUrl
map t Vomnibar.activateInNewTab
map T Vomnibar.activateEditUrlInNewTab
map z LinkHints.activateMode
map Z LinkHints.activateModeToOpenInNewForegroundTab
map u restoreTab
map b Vomnibar.activateTabSelection
map {{ goBack
map }} goForward
map ;m Marks.activateGotoMode
map ` passNextKey
map I LinkHints.activateModeToOpenIncognito
map <c-d> scrollPageDown
map <c-u> scrollPageUp
